body {
  margin:0;
  padding: 5%;
  background-image: linear-gradient(to bottom right, #9999ff,#99ffcc);
  color: white;
  display: block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
i {
  font-size: 10px;
}

img {
  box-shadow: 0 7px 5px #77777762;
  height: 20%;
  width: 20%;
  border-radius: 50%; /* faz a imagem quadrada ficar redonda */
}

ul, li {
  list-style-type: none;
  margin: 10px;
}

a {
  
  text-decoration: none;
  color: azure;
  font-weight: bold;
}

hr {
  margin: 32px; 
  border-radius: 2px;
  border: 1px solid azure;
}

footer {
  

  margin: 32px;
  
}

footer a {
  color: #ffffff;
}
#header-wrapper {
  margin: 64px;
}
#header-wrapper h1{
  font-weight: 300;
  font-size: 50px;
  
}
#header-wrapper h2 {
  font-weight: bold 300;
}

#programming-wrapper {
  margin: 64px;
  list-style-type: square;

}

#experience-wrapper {
  margin: 64px;
  font-weight: 400;
}
#experience-wrapper h3 {
  font-weight: 400;
}

#experience-wrapper li {
  margin: 64px;
}

#languages-wrapper {
  margin: 64px;
  list-style-type: none;
}

#links-wrapper {

  text-align: center;
  list-style-type: none;
}
#links-wrapper ul{

  display: inline-flex;
  
}

#links-wrapper li {
  border-radius: 8px;
  padding: 10px;
  background-color: #bdbdfa;
  transition: 0.4ms;
}

#links-wrapper li:hover {
  background-color: rgb(97, 187, 187);

}

