<!DOCTYPE html>
<html>
  <head>
    <title>Clientes</title>

  </head>

  <body>
    <header>
      <nav>
        <li><a href="#" class="button" onClick="onOff()">Novo Cliente</a></li>
      </nav>
    </header>
    
    <h1>Clientes</h1>
    <section id="clientes">
      <div class="content">
        <h3>Cliente 1</h3>
        <p>Nome: Clarice Lis</p>
        <p>Cidade: Recife</p>
        <p>Estado: Pernambuco</p>
        <p>Email: abc@gmail.com</p>
        <p>Telefone: 8197659090</p>

      </div>

    </section>
    

  </body>

</html>